/* https://coolors.co/ece4b7-d9dd92-eabe7c-dd6031-311e10 */
.container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container-title{
    background-color: lightgrey;
    max-width: 70%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;   
    text-align: left;
    font-size: large;
    
}
.container-title.gch{
    border-left: 20px solid green;
} 
.container-title.threedor{
    border-left: 20px solid blue;
}  
.container-title.egsr{
    border-left: 20px solid purple;
}
.container-title.sca{
    border-left: 20px solid yellowgreen;
}  
.container-text{
    border-top: 5px solid white;

    background-color: #f2f2f2;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px; 
    font-size: medium;
   
}
.container-keywords{
    border-top: 5px solid white;

    background-color: #f2f2f2;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    padding-top: 0px;
    padding-bottom: 0px; 
    font-size: medium;
   
}
.container-socialmedia{
    color: white;

    max-width: 800%;
    max-height: 100px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;  
    font-size: medium;
    border-top: 5px solid white;
}
.container-socialmedia.gch{
    background-color: green;
} 
.container-socialmedia.threedor{
    background-color: blue;
}  
.container-socialmedia.egsr{
    background-color: purple;
} 
.container-socialmedia.sca{
    background-color: yellowgreen;
} 
.container-bibiometrics{
    color: white;
    width: 100px;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;  
    font-size: large;
}
.years{
    background: #CCB966;

}
.papers{
    background: #915F99;
}
.visitspermonth{
    background: #50998B;
}
.visits4weeks{
    background: #94790A;
}
.averagedownload{
    background: #729948;
}
.averagedownloadperarticle{
    background: #5F7999;
}


/* .container-bibiometrics1{
    background-color: red;
    
} */
.vl {
    padding-left: 0px;
    padding-right: 0px;
    border-left: 0.0625rem solid #d9d9d9;
    height: 200px;
}
.socialicon{
    margin-right: 10px;
    margin-left: 10px;
}
.title{
    font-weight: bold;
    white-space: nowrap;
}
.links{
  
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.author{
    font-style: italic;
    border-radius: 6px;
    margin-bottom: .9em;
    /* background-color: aliceblue;
    border: 2px dashed gray;
    max-width: 70%;
    padding: 1em;
    margin-bottom: .4em; */
}
.sectionheader{
    font-weight: bold;
    font-style: italic;

    font-size: larger;
    margin-bottom: .5em;

}